# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = four_chan_scrapy.settings

[deploy]
project = four_chan_scrapy
